.aa{
    width: 250px;
    height: 250px;
    background: red;
    font-size: 225px;
    text-align: center;

    animation: myslide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}
.aa:hover{
    
}
.aa:active{
    animation: 3s linear 0s infinite running myslide;
}

@keyframes myslide{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}