

.aa{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: #adff2f;
    margin: auto;
}
.bb{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: fuchsia;
    margin: 50px;
}