*
{
    margin: 0;
    padding: 0;

}
header{
    height: 61px;
    background: palevioletred;
    color: black;
    
}
.content
{
    height: 50vh;
    background: red;
    color: burlywood;
    box-sizing: border-box;
}
footer{
    background-color: chartreuse;
}