.zz
{
    width: 1000px ;
    margin: auto;
}
 .a1
{
    width: 70px;
    height: 50px;
    background-color: gray;
    float: left;
    font-size: 20px;
    margin-left: 10px;
    padding-top: 15px;
    text-align: center;
}
.a2
{
    width: 100px;
    height: 50px;
    background-color: grey;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
}
.a3
{
    width: 1000px;
    height: 30px;
    background-color: grey;
    float: left;
    margin-top: 20px;
}
.a4
{
    width: 1000px;
    height: 300px;
    margin-top: 20px;
    font-family: sans-serif; font-variant: normal;font-style: italic; font-weight: bold;text-decoration: underline;
    float: left;
    background: url(../images/153-1531529_training-jordan-nike-wallpaper-hd-2016-in-fitness.png) no-repeat right, url(../images/77366.jpg) no-repeat left;
    background-size: 50% 100%;
}
.a5
{
    width: 1000px;
    height: 300px;
    margin-top: 10px;
  
    float: left;
    background: gray;

}
.in1{
    width: 237px;
    height: 60px;
    float: left;
    background: lightgray;
    margin: 10px 0 0 10px;
}
.in2{
    width: 237px;
    height: 50px;
    float: left;
    background: lightgray;
    margin: 10px 0 0 10px;
}
.in3{
    width: 980px;
    height: 220px;
    background: lightgray;
    float: left;
    margin-left: 10px;

}
.txt1{
    margin-top: 100px;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: rgb(219, 61, 61);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;

}
.a6{
    width: 1000px;
    height: 150px;
    text-align: center  ;
    background: url(../images/13657.jpg) no-repeat center;
    padding-top: 50px;
    float: left;
    margin-top: 10px;

}
.a7{
    width: 1000px;
    height: 200px;
    float: left;
    border: 10px;
    background-color: aqua;
    
    
 

}
.fottertxt{
    
    float: left;
    color:black;
    margin: 70px 0 0 450px;

}
.a8{
    width: 1000px;
    height: 30px;
    background-color: gray;color: white;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}